In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import Perceptron
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

In [2]:
train = pd.read_csv('C:/Users/1/Data/perceptron/perceptron-train.csv', header = None)
test = pd.read_csv('C:/Users/1/Data/perceptron/perceptron-test.csv', header = None)

In [3]:
train.head()

     0         1            2
0 -1.0 -0.024626  1174.600238
1  1.0 -0.978058  1083.198803
2 -1.0  0.314272 -1472.977609
3 -1.0  0.179752   231.017267
4  1.0 -1.262544  -778.271726

In [4]:
test.head()

     0         1            2
0 -1.0  1.651437  1337.453826
1  1.0 -0.866495  1191.232457
2 -1.0  0.789828  -475.647768
3 -1.0  0.179549  1959.095353
4  1.0 -0.434351   568.504207

In [5]:
X_train = train.iloc[:, [1, 2]].values
Y_train = train[0].values

In [6]:
X_test = test.iloc[:, [1, 2]].values
Y_test = test[0].values

In [7]:
def model(X_train, Y_train):
    model = Perceptron()
    model.fit(X_train, Y_train)
    return model

In [8]:
model_1 = model(X_train, Y_train)
# оценка модели на обучающей выборке
model_1.score(X_train, Y_train)

0.7033333333333334

In [9]:
# предсказание на тестовой выборке
pred_1 = model_1.predict(X_test)

In [10]:
# оценка не тестовой выборке
score_1 = accuracy_score(Y_test, pred_1)

In [11]:
score_1

0.655

In [12]:
# нормализация обучающей и тестовой выборки
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
# Функция transform делает нормализацию на основе уже найденных параметров
X_test_scaled = scaler.transform(X_test)

In [13]:
model_2 = model(X_train_scaled, Y_train)
model_2.score(X_train_scaled, Y_train)

0.83

In [14]:
pred_2 = model_2.predict(X_test_scaled)

In [15]:
score_2 = accuracy_score(Y_test, pred_2)

In [16]:
score_2

0.845

In [17]:
round((score_2 - score_1), 3)

0.19